body{
    display: grid;
    place-items: center;
    height: 80vh;
    font-size: larger;
    text-align: center;
    font-family: sans-serif;
    background-color: #bfbfbf;
}

[hidden] {
    display: none !important;
}

#gameContainer {
    background-color: blanchedalmond;
    border: solid 2px black;
    padding: 2em;
    border-radius: 15px;
    box-shadow: rgb(0,0,0,0.7) 2px 3px;
   }
   

/* main.css | file:///C:/Users/josht/Documents/HangmanJS/JsHangman/main.css */

button {
    padding: 0.5em;
    background: #f4c995;
    border-radius: 0.5em;
    border: solid black 0.2em;
    cursor: pointer;
  }
  
button:hover{
    border-color: white;
}

div{
    margin-bottom: 1em;
}

.gamemode{
    width: 80%;
}